<footer>
  <ul role="menu" tabindex="0" class="footer__list">
    <li class="footer__item">
      <a class="footer__anchor" href="#" target="_blank">Store locator</a>
    </li>
    <li class="footer__item">
      <a class="footer__anchor" href="#" target="_blank">About ADSA</a>
    </li>
    <li class="footer__item">
      <a class="footer__anchor" href="#" target="_blank">ADSA Careers</a>
    </li>
    <li class="footer__item">
      <a class="footer__anchor" href="#" target="_blank">ADSA delivery</a>
    </li>
    <li class="footer__item">
      <a class="footer__anchor" href="#" target="_blank">ADSA click and collect</a>
    </li>
  </ul>
</footer>
